.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
li {
  list-style-type: disc;
  color: #00000000;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.436);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.card:hover img {
  opacity: 0;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(141, 36, 130, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-body {
  opacity: 1;
}

.card-body h3 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.card-body p {
  margin: 10px 0 0 0;
  font-size: 1rem;
  color: black;
}

.card-body a {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-size: 0.8rem;
}

.card-body a:hover {
  text-decoration: underline;
}
